.filter_container {
  background-color: #fff;
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.25);
  border-radius: 0.5rem;
  margin: 1.5rem 0;
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  min-width: 300px;
  @media (min-width: 375px) {
    justify-content: space-between;
    padding: 1rem 2.5rem;
  }

  ul {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    li {
      list-style: none;
      display: flex;
      align-items: center;
      div {
        background-color: var(--neutral-1);
        padding: 0.5rem 0.8rem;
        width: fit-content;
        border-radius: 0.3rem 0 0 0.3rem;

        p {
          margin: 0;
          color: var(--primary-1);
          font-weight: 500;
        }
      }

      button {
        padding: 0.5rem;
        background-color: var(--primary-1);
        border-radius: 0 0.3rem 0.3rem 0;
        border: none;
        color: var(--neutral-2);
      }
    }
  }

  button {
    color: var(--neutral-3);
    font-weight: 700;
    background-color: transparent;
    border: none;
  }
}
